.header{
    background-color: #01b2ee;
    display: flex;
    justify-content:space-between;
    padding: 0.30em;
    /* width: 100%; */
    /* padding: .0em; */
    align-items: center;
    z-index: 20;
}

.header-title{
    color: rgb(255, 255, 255);
    /* margin:0 0 0 7.5%; */
    margin:0 0 0 3%; 
    font-weight: 900;
    /* font-size: 2.2rem; */
    font-size: 1.9rem;
    font-family: museo-sans-display, sans-serif;
    font-stretch:ultra-expanded;
}


.header-btns{   
    margin-right: 1%;
    display: flex;
}

.location-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-right: 0.75em; */
}


.location-icons{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    /* margin-right: 0.2em; */
}


.header-btns-extra{
    display: none;
    align-items: center;  
    
}

.header-icons{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1.25em;
    cursor: pointer;
}

.down-arrow{
    font-size: 1.1rem;
    color: white;
}

.account-icons{
    display: flex;
    align-items: center;
    margin-right: 1.25em;
    cursor: pointer;
}

.account-icon{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;   
}

.subscribe-btn{
    display: flex;
    align-items: center;
    border-right: 0.1rem rgba(255, 255, 255, 0.753) solid;
    margin-right: 1em;  
    padding-right: 1em;
    cursor: pointer;
}

.header-btn-text{
    color: rgb(255, 255, 255);
    font-family: MuseoSans,sans-serif;
    font-weight: 700;
   
}

/* .header-img{
    width: 90px;
    box-sizing: border-box;
    margin-bottom: 0.6em;
    margin-top: 0.5em;
    max-width: 100%; 
} */

.locations{
    border: rgba(128, 128, 128, 0.137) 2px solid;
    position: absolute;
    top: 7.9%;
    display: flex;
    flex-direction: column;
    width: 38.2%; 
    z-index: 13;
}

.location{
    border-bottom: rgba(128, 128, 128, 0.158) 2px solid;
    padding: 0.6em;
    color: #4f5864;
    font-family:sans-serif;
    background-color: white;
}

.location:hover{
    color: #02a5db;
    font-family:sans-serif;
    background-color: rgba(155, 155, 155, 0.685);
}


.header-bottom{
    position: fixed;
    bottom: 0px;
    margin: 0;
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    left: 0;
   
}


.header-bottom-icon{
    color: #4f5864;
    font-size: 1.5rem;
}

.header-bottom span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: #454c55;
}



@media (min-width:768px) {
    .header-title{
        /* margin:0 0 0 7.5%; */
        margin:0 0 0 2%;  
        /* font-size: 2.2rem; */
        font-size: 2.3rem;  
    }

    .header-btn-text{
       font-size: 1rem;
    }

    .locations{
        border: rgba(128, 128, 128, 0.137) 2px solid;
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        width: 150px; 
    }

    .header-bottom{
        
        justify-content: space-around;
        
       
    }
  
}


@media (min-width:1100px) {
    .header-btns-extra{
        display: flex;
    }

    .header-title{
        color: rgb(255, 255, 255);
        /* margin:0 0 0 7.5%; */
        margin:0 0 0 7.5%; 
        font-weight: 900;
        font-size: 2rem;
        font-family: museo-sans-display, sans-serif;
        font-stretch:ultra-expanded;
    }

    .location-icons{
        margin-right: 0.2em;
    }

    .location-btn{
        margin-right: 0.75em;
    }

    .header-btns{   
        margin-right: 8.5%;
    }


    .locations{
        border: rgba(128, 128, 128, 0.137) 2px solid;
        position: absolute;
        top: 64px;
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .location{
        border-bottom: rgba(128, 128, 128, 0.158) 2px solid;
        padding: 0.6em;
        color: #4f5864;
        font-family:sans-serif;
        background-color: white;
    }

    .location:hover{
        color: #02a5db;
        font-family:sans-serif;
        background-color: rgba(155, 155, 155, 0.685);
    }

    .header-btn-text{
        font-size: 0.9rem; 
    }

    .header-img{
        /* width: 90px; */
        box-sizing: border-box;
        margin-bottom: 0.6em;
        margin-top: 0.5em;
        max-width: 100%; 
    }

    .header-bottom{
        display: none;
    }



    
}









